/* 
form {
    position : relative;
    width  : 400px;
    height : 480px;
    margin : auto;
    margin-top: 100px;
    padding: 2em;
    box-sizing: border-box;
    background-color: rgb(153, 175, 202);
    padding-right : 55px;
}

form h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}  */