
.color-navbar {
    background-color: white;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
    
}

.links-navbar {
    font-weight: bolder;
    font-size: 30px;
    margin-right: 100px;
    color: orangered;
    
}  

.links-navbar:hover{
    color: #000;;
}



