
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-top: 15px;
    background: #f59476;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active{
	margin-left: -250px;
}

#sidebar ul.components{
	padding: 30px 0px;
}

#sidebar ul li a{
	padding: 10px 10px 10px 40px;
	font-size: 20px;
	display: block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
#sidebar ul li a:hover {
    color: #111111;
    background: #fff;
    text-decoration: none;
}



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 70px;
}




@media (max-width:800px) {
  #sidebar {
    margin-left: -250px;}
  #sidebar.active{
	margin-left: 0px;
  }
  #sidebarCollapse span{
	display: none;
  }
  .card {
    width:100%;
  }
}
@media (max-width:400px) {
  #sidebar {
    margin-top: -20px;
  }
  #logo {
    display: none;
  }
}